<launch>
  <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen">
    <param name="video_device" value="/dev/video1"/>
    <param name="image_width" value="2560"/>
    <param name="image_height" value="720"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_frame_id" value="zed"/>
    <param name="camera_name" value="zed"/>
  </node>

  <node pkg="zed_wrapper" type="split.py" name="split" output="screen">
  </node>
</launch>

